{% extends 'base.html.twig' %}

{% block title %}Edit Platforme{% endblock %}

{% block body %}
    <h1>Edit Platforme</h1>

    {{ include('platforme/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_platforme_index') }}">back to list</a>

    {{ include('platforme/_delete_form.html.twig') }}
{% endblock %}
